.w-100 {
    width: 100% !important;
}

.size_full {
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex !important;
}

.justify_c_center {
    display: flex;
    justify-content: center;
}

.justify_c_between {
    justify-content: space-between;
}

.flex_full_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align_items_center {
    display: flex;
    align-items: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.gap-10 {
    row-gap: 10px;
    column-gap: 10px;
}

.border-none {
    border: 0 !important;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}

.max-w-50 {
    max-width: 50% !important;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-250 {
    max-width: 250px;
}

.mt_10 {
    margin-top: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.mt-5 {
    margin-top: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.rounded_10 {
    border-radius: 10px;
}

.rounded_pill {
    border-radius: 100px;
}

.margin_auto {
    margin: 0 auto;
}

.text-align-center {
    text-align: center !important;
}

.position_relative {
    position: relative;
}

.position_fixed {
    position: fixed;
}

.left-0 {
    left: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.top-0 {
    top: 0;
}

.inset {
    inset: 0;
}

.top-7px {
    top: 7px;
}

.-top-10px {
    top: -10px !important;
}

.font-bold {
    font-weight: bold;
}

.paddind-all_10 {
    padding: 10px !important;
}

.paddind-all_5 {
    padding: 5px;
}

.paddind-left_10 {
    padding-left: 10px !important;
}

.paddind-all_30 {
    padding: 30px;
}

.text-blue {
    color: blue !important;
}

.text-red {
    color: red !important;
}

.text-orange {
    color: orange !important;
}

.text-pink {
    color: pink !important;
}

.text-cyan {
    color: cyan !important;
}

.text-purple {
    color: purple !important;
}

.text-magenta {
    color: magenta !important;
}

.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

.text-brown {
    color: brown !important;
}

.text-green {
    color: green !important;
}

.text-yellow {
    color: yellow !important;
}

.text-yellowgreen {
    color: yellowgreen !important;
}

.text-chocolate {
    color: chocolate !important;
}

.text-crismon {
    color: crimson !important;
}

.text-tomato {
    color: tomato !important;
}

.text-teal {
    color: teal !important;
}

.text-slateblue {
    color: slateblue !important;
}

.text-skyblue {
    color: skyblue !important;
}

.text-seagreen {
    color: seagreen !important;
}

.text-cornflowerblue {
    color: cornflowerblue !important;
}

.text-dark-blue {
    color: darkblue !important;
}

.text-dark-cyan {
    color: darkcyan !important;
}

.text-dark-green {
    color: darkgreen !important;
}

.text-dark-orange {
    color: darkorange !important;
}

.text-dark-red {
    color: darkred !important;
}

.text-dark-gray {
    color: darkgray !important;
}

.text-dark-seagreen {
    color: darkseagreen !important;
}

.text-dark-violet {
    color: darkviolet !important;
}

.text-dark-salmon {
    color: darksalmon !important;
}

.cursor_pointer {
    cursor: pointer;
}

@media(min-width:600px) {
    #top-action-section {
        display: flex;
        align-items: center;
    }
}