.w-100 {
    width: 100% !important;
}

.size_full {
    width: 100%;
    height: 100%;
}

.d-flex {
    display: flex !important;
}

.justify_c_center {
    display: flex;
    justify-content: center;
}

.flex_full_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align_items_center {
    display: flex;
    align-items: center;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-250 {
    max-width: 250px;
}

.mt_10 {
    margin-top: 10px;
}

.mb_10 {
    margin-bottom: 10px;
}
.rounded_10
{
    border-radius: 10px;
}
.rounded_pill
{
    border-radius: 100px;
}